@font-face {
    font-family: Echotopia;
    src: url('Echotopia-Regular.otf');
}

*{
    text-align: center;
    gap: 2em;
    color: cadetblue;
    font-family: Echotopia, Arial, Helvetica, sans-serif;
}
html{
    --main-color: lightgray;
    --main-bgcolor: black;
    --second-bgcolor: rgb(110, 110, 110);
    --second-color: aliceblue;
    --third-color: yellow;
    --third-bgcolor: yellowgreen;
}
html{
    background-color: var(--main-bgcolor);
    row-gap: 1em;
    column-gap: normal;
}

canvas {
    background-color: var(--main-bgcolor);
    display: block;
    margin: 1em auto;
}

#player-head-up-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--main-color);
    align-items: center;
}
#player-head-up-display *{
    padding: 0.5em;
}
#player-health-bar{
    color: green;
}

form{
    padding: 1em;
}

#main-page{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    max-width: fit-content;
    margin: auto;
    border-radius: 16px;
    margin-bottom: 2em;
}

button{
    background-color: var(--second-bgcolor);
    border-radius: 16px;
    padding: 1em;
    color: var(--third-color);
    border: 1px solid var(--main-bgcolor);
}
a{
    background-color: var(--second-bgcolor);
    padding: 1em;
}

header{
    background-color: darkgreen;
    padding: 2em;
    color: var(--second-color);
    background-image: url("Images/Zombie_beckgroundImage.jpg");
    background-position: center;
}

#coins_upgrade{
    color: var(--second-color);
    font-size: 2em;
    background-color: var(--third-bgcolor);;
    text-align: center;
}
#store{
    background-color: var(--second-bgcolor);
    
}
#store img{
    float:left;
}
input{
    border-radius: 16px;
    color: var(--main-bgcolor);
}

#game-link{
    gap: 20em;
    margin: 10em;
    row-gap: 2em;
}