<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='games.css') }}" />
        <script src="{{ url_for('static', filename='game.js') }}" type="module"></script>
    </head>
    <body>
        <nav>
        <a href="{{ url_for('game') }}">Back To Game</a>
        <form id="form_health">
            <input type="input" id="upgrade-health" name="upgrade-health" disabled />
            <label for="upgrade-health">Upgrade Health (20 coins)</label>
            <button type="submit">Upgrade</button>
            <p id="health-errors"></p>
        </form>
        <form id="form_bullet">
            <input type="input" id="upgrade-bullet-damage" name="upgrade-bullet-damage" disabled />
            <label for="upgrade-bullet-damage">Upgrade Bullet Damage (20 coins)</label>
            <button type="submit">Upgrade</button>
            <p id="bullet-errors"></p>
        </form>
        <p id="coins_upgrade"></p>
        </nav>
    </body>
</html>